* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow:2px 2px 20px #5e5e5e;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.navbar-toggler {
    cursor: pointer; 
}
.bar1, .bar2, .bar3 { 
    width: 23px; 
    height: 3px; 
    margin: 5px; 
    background: #5e5e5e; 
    transition: all 0.5s ease; 
}
.change .bar1 { 
    transform: translate(7px, 4px) rotate(-90deg) scale(0.6);
    border-radius: 5px; 
} 
.change .bar2 { 
    transform: translate(0px, 10px) ; 
    border-radius: 0 0 60px 60px;
} 
.change .bar3 { 
    transform:  translate(-7px, -12px) rotate(90deg) scale(0.6); 
    border-radius: 5px; 
}
.options {
    display: none;
    flex-direction: column;
    margin-top: 15px; 
    padding: 0 0 10px 5px; 
    gap: 7px;
    border: 0px;
    font-family: 'Roboto Mono';
}
.options a {
    text-decoration: none;
    color: #5e5e5e;
}
.options .homeOption {
    font-weight: bold;
    font-size: 25px;
}
.options .informaçõesOption {
    font-weight: bold;
    font-size: 20px;
}
.navbar-checkbox {
    display: none;
}
.navbar-checkbox:checked ~ nav .options {
    display: flex;
}
.navbar-checkbox:checked ~ .logoEurorrail img {
    display: none;
}
.navbar-checkbox:checked + .navbar-toggler .bar1 {
    transform: translate(7px, 4px) rotate(-90deg) scale(0.6);
}
.navbar-checkbox:checked + .navbar-toggler .bar2 {
    transform: translate(0px, 10px);
}
.navbar-checkbox:checked + .navbar-toggler .bar3 {
    transform: translate(-7px, -12px) rotate(90deg) scale(0.6);
    border-radius: 5px;
}

body {
    overflow-x: hidden;
}
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0px solid transparent;
    margin: 0px 5px;
    font-size: 20px; 
    border-radius: 5px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #5e5e5e;
    background-color: #fff;
}
.btn-primary:hover {
    background-color: #5e5e5e;
}
.logoEurorrail img {
    width: 100px;
    justify-self: flex-start;
}

.containerImagemDeFundo {
    position: relative;
    margin-top: 40px;
    margin-bottom: 13px;

    width: 100%;
    height: auto;
}

.containerGrelhaFotos {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;

    width: 100%;
    height: auto;
}

#CarrouselPaisesAuxilio {
    height: 100px;
}
.carousel {
    box-shadow: 2px 2px 20px #5e5e5e;
}
.carousel-item img {
  width: 100%;
  height: auto;
}
.text-center {
  margin-top: 15px;
  font-size: 15pt;
  font-family: 'Roboto Mono';
  color: #5e5e5e; 
}
.carousel .row {
  display: flex;
  justify-content: center;
}
.carousel .col-md-3 {
  padding-top: 30px;
  flex: 0 0 27%; 
  max-width: 27%; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); 
}

.LINKgaleria {
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.fotoDireita1, .fotoDireita2, .fotoDireita3, .fotoEsquerda1, 
.fotoEsquerda2, .fotoEsquerda3, .fotoEsquerda4, .fotoEsquerda5 {
    transition: filter 0.3s ease-in-out;
}
.fotoDireita1:hover, .fotoDireita2:hover, .fotoDireita3:hover, .fotoEsquerda1:hover, 
.fotoEsquerda2:hover, .fotoEsquerda3:hover, .fotoEsquerda4:hover, .fotoEsquerda5:hover {
    transform: scale(1.1);
    filter: brightness(0.7);
}

.fotoEsquerda1, .fotoEsquerda2, .fotoEsquerda3 {
    max-width: 32%;
    justify-self: center;
}
.fotoEsquerda4, .fotoEsquerda5 {
    padding-top: 4px;
    max-width: 48.4%;
}
.fotoDireita1 {
    max-width: 80%;
    display: flex;
    align-self: flex-end;
    padding-bottom: 5%;
}
.fotoDireita3 {
    max-width: 80%;
    align-self: flex-start;
    padding-top: 5%;
}
.fotoDireita2 {
    max-width: 60%;
    align-self: center;
}
.progress-container, .progress-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25%;
    padding-top: 15%;
}
.progress-container p, .progress-container2 p {
    align-self: flex-start;
    margin: 5px;
    padding-left: 10%;
    font-family: 'Roboto Mono';
    font-size: 20px;
    font-weight: bold;
    color: #5e5e5e
}
.comida, .beleza, .cultura {
    width: 80%;
    height: 25px;
    font-family: 'Roboto Mono';
    box-shadow: 5px 5px 5px #5e5e5e;
    margin-bottom: 10%;
}
.Logo img{
    width: 100%;
    margin: 5% 0 5%;
    transition: transform 0.3s ease-in-out;
}
.Logo img:hover {
    transform: scale(1.1);
}
.image-container {
    display: flex;
    flex-direction: column;
}

.containerFimSite {
    background-color: #5e5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerFimSite img {
    width: 650px;
    height: auto;
}
.textoQuestionario p{
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    margin: -8px 0;
}
.coluna2questionario{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 25px;
}
.card {
    background-color: #5e5e5e;
    color: #fff;
    border: 4px solid #000;
    border-radius: 0px;

    align-items: center;

    width: 500px;
    height: auto;

    padding-top: 20px;
}
.card-body .form-label {
    font-family: 'Roboto Mono';
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}
.card-body .form-control, .form-control:focus {
    border: 0px;
    background-color: #5e5e5e;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto Mono';

    outline: none;
    border-radius: 0px;
    border-bottom: 2px solid #fff;
    box-shadow: none;
}
.card-body .btn {
    color: #ffc400;
    border-radius: 25px;
    border: 0px;
    background-color: #fff;
    font-size: 25px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    width: 400px;
    transition: transform 0.5s ease-in-out box-shadow 0.5s ease-in-out;
}
.card-body .btn:hover {
    color: #000f5e;
    transform: scale(1.02);
    box-shadow: 2px 2px 10px #ffffff80;
}

.footer {
    text-align: end;
    font-family: 'Roboto Mono';
    font-size: 15px;
    padding-top: 15px;

    color: #5e5e5e;
}

.alternativa1, .alternativa2, .navbar {
    display: none;
}

@media (max-width: 570px) {
    .progress-container {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .Logo {
        padding-top: 15%;
    }
}

@media (max-width: 770px) {
    .fotoDireita1 {
        padding-top: 3%;
        align-self: center;
    }
    .fotoDireita2 {
        align-self: center;
    }
    .fotoDireita3 {
        align-self: center;
        padding-bottom: 5%;
    }
    .progress-container {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .Logo {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .alternativa2, .navbar {
        display: block;
    }
    .col-5.Paises .progress-container, .col-2, .navCustomizada {
        display: none;
    }
    .containerFimSite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .coluna2questionario{
        margin-bottom: 40px;
    }.footer {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .fotoDireita1 {
        padding-bottom: 7%;
    }
    .fotoDireita3 {
        padding-top: 7%;
    }
    .progress-container {
        padding-bottom: 0;
    }
}

@media (max-width: 1100px) {
    .progress-container {
        padding-bottom: 0;
    }
    .Logo {
        padding-top: 5%;
    }
}

@media (max-width: 1200px) {
    .fotoDireita1 {
        padding-bottom: 6%;
    }
    .fotoDireita3 {
        padding-top: 6%;
    }
    .fotoDireita1, .fotoDireita2, .fotoDireita3 {
        align-self: center;
    }
    .col-5.Paises {
        flex: 40%;
    }
    .col-2 {
        flex:20%;
        padding-bottom: 1%;
        margin-top: 3%;
    }
    .col-5.progressBars {
        flex: 50%;
    }
    .progress-container {
        padding-bottom: 0;
    }
    .Logo {
        padding-top: 5%;
    }
    .alternativa1 {
        display: block;
    }
    .col-5.progressBars {
        display: none;
    }
}

@media (max-width: 1300px) {
    .progress-container {
        padding-top: 5%;
    }
    .containerFimSite img {
        width: 416px;
    }
    .textoQuestionario p{
        font-size: 22.4px;
    }
    .card {
        width: 320px;
        padding-top: 5px;
    }
    .card-body .form-label {
        font-size: 10.9px;
    }
    .card-body .form-control {
        font-size: 9px;
    }
    .card-body .btn {
        font-size: 16px;
        width: 256px;
    }
    .coluna2questionario{
        gap: 5px;
    }
    .containerFimSite {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
}

@media (max-width: 1500px) {
    .progress-container {
        padding-top: 7%;
    }
}

@media (max-width: 1700px) {
    .progress-container {
        padding-top: 10%;
    }
}
